# ignore all
*

# except
!.gitignore
!C++ Multiple Files.sublime-build
!C++ Raylib Desktop.sublime-build
!C++ Raylib Web Assembly.sublime-build
!cpp_builder.py
!cpp_builder_selector.py
!header.sublime-snippet
!header_to_source.py
!LICENSE
!Preferences.sublime-settings
!README.md
!open_pair_file.py
!wasm_builder.py
